{{! template-lint-disable no-triple-curlies }}
<BsModal class="search-result-modal modal fade bd-result-modal-lg" @size={{"lg"}} @open={{@open}} @onSubmit={{@onClose}} @onHidden={{@onClose}} as |Modal|>
  <Modal.header>
    <h5 class="modal-title">
      {{{@hit.title}}}
      <div class="badge"><small class={{css-availability-class @hit}}><span class="d-none d-lg-inline">{{#if @hit.last-seen}}Last seen {{moment-from-now @hit.last-seen}} {{/if}}</span><i class="fas {{fa-kind-icon (hit-kind @hit)}}"></i></small></div>
    </h5>
  </Modal.header>
  <Modal.body>
    {{#if @hit.description }}
      <p>{{{@hit.description}}}</p>
    {{/if}}

    {{#if (eq "image" (hit-kind @hit))}}
      <div class="embed-responsive image-preview">
        <a href={{hit-url @hit}}><img src={{hit-url @hit}} alt="Preview of found image" /></a>
      </div>
    {{/if}}
    {{#if (eq "video" (hit-kind @hit))}}
      <div class="embed-responsive embed-responsive-16by9">
        <video class="embed-responsive-item" src={{hit-url @hit}} controls="" preload="metadata" />
      </div>
    {{/if}}
    {{#if (eq "audio" (hit-kind @hit))}}
      <div class="embed-responsive">
        <audio controls="" src={{hit-url @hit}} />
      </div>
    {{/if}}

    <dl class="row mt-3">
      <dt class="col-sm-3">
        Mimetype
      </dt>
      <dd class="col-sm-9">
        {{@hit.mimetype}}
      </dd>

      <dt class="col-sm-3">
        First seen
      </dt>
      <dd class="col-sm-9">
        {{moment-from-now @hit.first-seen}}
      </dd>

      <dt class="col-sm-3">
        Last seen
      </dt>
      <dd class="col-sm-9">
        {{moment-from-now @hit.last-seen}}
      </dd>

      {{#if @hit.size}}
        <dt class="col-sm-3">
          Size
        </dt>
        <dd class="col-sm-9">
          {{readable-size @hit.size}}
        </dd>
      {{/if}}
    </dl>

    {{#if @hit.references }}
      <div class="table-responsive-sm">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Parent hash</th>
            <th/>
            <th scope="col">Name</th>
            <th/>
          </tr>
        </thead>
        <tbody>
          {{#each @hit.references as |reference|}}
            <tr>
              <td scope="row" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 12em;"><a target="_blank" href="{{ hash-url reference.parent_hash }}">{{ reference.parent_hash }}</a></td>
              <td>/</td>
              <td><a href="{{ reference-url reference }}">{{ reference.name }}</a></td>
              <td><a href="{{ reference-url reference true }}"><i class="fas fa-download"></i></a></td>
            </tr>
          {{/each}}
        </tbody>
     </table>
    </div>
   {{/if}}

    <h5>Direct link</h5>
    <ul>
      <li class="row mt-3">
        <a target="_blank" href="{{ hash-url @hit.hash }}">{{ @hit.hash }}</a>&nbsp;<a href="{{ hash-url @hit.hash true }}"><i class="fas fa-download"></i></a>
      </li>
    </ul>

    <SearchHit::MetadataControls>
      <MetadataInfo @hit={{@hit}} />
    </SearchHit::MetadataControls>
  </Modal.body>
</BsModal>