<div class="container">

  <div class="input-group">
    {{input class="form-control" placeholder="Search..." aria-label="search" value=(mut newSearchString) enter=(action "updateSearch")}}
    {{#bs-dropdown class="input-group-append" as |dd|}}
      {{#bs-button type="outline-secondary" onClick=(action "updateSearch")}}Action{{/bs-button}}

      {{#dd.button class="btn-outline-secondary dropdown-toggle dropdown-toggle-split"}}
        <span class="sr-only">Toggle Dropdown</span>
      {{/dd.button}}
      {{#dd.menu as |menu|}}
        {{#menu.item}}
          <span class="dropdown-item" {{action "changeKind" "file"}}>Any file</span>
        {{/menu.item}}
        {{#menu.item}}
          <span class="dropdown-item" {{action "changeKind" "image"}}>Image</span>
        {{/menu.item}}
        {{#menu.item}}
          <span class="dropdown-item" {{action "changeKind" "text"}}>Text</span>
        {{/menu.item}}
        {{#menu.item}}
          <span class="dropdown-item" {{action "changeKind" "video"}}>Video</span>
        {{/menu.item}}
        {{#menu.item}}
          <span class="dropdown-item" {{action "changeKind" "audio"}}>Audio</span>
        {{/menu.item}}
        {{#menu.item}}
          <span class="dropdown-item" {{action "changeKind" "directory"}}>Directory</span>
        {{/menu.item}}
      {{/dd.menu}}
    {{/bs-dropdown}}
  </div>

  <div class="option open-all-results">
    {{input type="checkbox" checked=(mut openAllResults)}}Expand results
  </div>

  {{#if model}}
    <ul>
      {{#each model.hits as |hit|}}
        <li>
          {{search-hit-card hit=hit forceExpand=openAllResults kind=kind}}
        </li>
      {{/each}}
    </ul>

    We found {{model.total}} results in {{model.page_count}} pages for your search!

    {{page-list totalPages=model.page_count currentPage=page}}
  {{/if}}


  {{outlet}}

</div>
