{{input value=(mut newSearchString)}} <button {{action "updateSearch"}}>Search</button>

{{#if model}}
  <ul>
    {{#each model.hits as |hit|}}
      <li>
        {{{hit.title}}}
      </li>
    {{/each}}
  </ul>

  We found {{model.total}} results for your search!
{{/if}}

{{outlet}}
