<div class="container">

  <div class="input-group">
    {{input class="form-control" placeholder="Search..." aria-label="search" value=(mut newSearchString) enter=(action "updateSearch")}}
    {{#bs-dropdown class="input-group-append" as |dd|}}
      {{#dd.menu as |menu|}}
        {{#menu.item active=(eq kind "file") action=(action "changeKind" "file")}}
          Any file
        {{/menu.item}}
        {{#menu.item active=(eq kind "image") action=(action "changeKind" "image")}}
          Image
        {{/menu.item}}
        {{#menu.item  active=(eq kind "text") action=(action "changeKind" "text")}}
          Text
        {{/menu.item}}
        {{#menu.item active=(eq kind "video") action=(action "changeKind" "video")}}
          Video
        {{/menu.item}}
        {{#menu.item active=(eq kind "audio") action=(action "changeKind" "audio")}}
          Audio
        {{/menu.item}}
        {{#menu.item active=(eq kind "directory") action=(action "changeKind" "directory")}}
          Directory
        {{/menu.item}}
      {{/dd.menu}}

      <div class="btn-group">
        {{#dd.button class="input-group-append btn-outline-secondary dropdown-toggle dropdown-toggle-split"}}
          <span class="sr-only">Toggle Dropdown</span>
        {{/dd.button}}

        {{#bs-button class="input-group-append" type="outline-secondary" onClick=(action "updateSearch")}}Action{{/bs-button}}
      </div>

    {{/bs-dropdown}}
  </div>

  <div class="option open-all-results">
    {{input type="checkbox" checked=(mut openAllResults)}}Expand results
  </div>

  {{#if model}}
    <ul>
      {{#each model.hits as |hit|}}
        <li>
          {{search-hit-card hit=hit forceExpand=openAllResults kind=kind}}
        </li>
      {{/each}}
    </ul>

    We found {{model.total}} results in {{model.page_count}} pages for your search!

    {{page-list totalPages=model.page_count currentPage=page}}
  {{/if}}


  {{outlet}}

</div>
