<div class="header-wrapper">
  <div class="container">

    <div class="row identity d-flex justify-content-center">
      <div class="col identity-wrapper">
        <h1 class="d-flex justify-content-center">
          <a href="http://ipfssearch.com">
            <img src="assets/logo_white_bright.svg" alt="IPFS Search" />
          </a>
        </h1>
      </div>
    </div>

    <div class="row search-bar">
      <div class="col d-flex justify-content-center">
        {{search-input/raw-search kind=kind search=search onSearch=(action "updateSearch")}}
      </div>
    </div>

  </div>
</div>

<div class="results-wrapper">
  <div class="container">
    {{#if searchRepo.isRunning}}
      loading
    {{else}}
      {{#if errorOccurred}}
        <div class="error">
          Could not fetch results from the backend.  Please try again.
        </div>
      {{else}}
        <div class="row d-none d-sm-block">
          <div class="col results-header d-flex justify-content-end mt-3">
            <p><small>We found {{data.total}} results in {{data.page_count}} pages for your search!</small></p>
          </div>
        </div>

        <div class="search-results">
          {{search-results results=data kind=kind}}
        </div>

        <div class="row">
          <div class="col d-flex justify-content-end">
            {{page-list totalPages=data.page_count currentPage=data.page on-change=(action "setPage")}}
          </div>
        </div>
      {{/if}}
    {{/if}}
  </div>
</div>
