<div class="header-wrapper">
  <div class="container">
    <div class="row identity d-flex justify-content-center">
      <div class="col identity-wrapper">
        <h1 class="d-flex justify-content-center">
          <a href="http://ipfssearch.com">
            <img src="assets/logo_white_bright.svg" alt="ipfs-search.com logo" />
          </a>
        </h1>
      </div>
    </div>

    <div class="row search-bar">
      <div class="col d-flex justify-content-center">
        <SearchForm @kind={{this.kind}} @search={{this.search}} @onSearch={{action "updateSearch"}} />
      </div>
    </div>
  </div>
</div>

<div class="results-wrapper">
  <div class="container">
    {{#if this.searchRepo.isRunning}}
      <div class="row align-items-center" style="min-height: 50vh;">
        <div class="col d-flex justify-content-center">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    {{else}}
      {{#if this.errorOccurred}}
        <div class="row align-items-center" style="min-height: 50vh;">
          <div class="col d-flex justify-content-center" style="color: red;">
            Could not fetch results from the backend.  Please try again later.
          </div>
        </div>
      {{else}}
        <div class="row d-none d-sm-block">
          <div class="col results-header d-flex justify-content-end mt-3">
            <p><small>We found {{this.data.total}} results in {{this.data.page_count}} pages for your search!</small></p>
          </div>
        </div>

        <div class="search-results">
          <SearchResults @results={{this.data}} />
        </div>

        <div class="row">
          <div class="col d-flex justify-content-end">
            <PageList @totalPages={{this.data.page_count}} @currentPage={{this.data.page}} @on-change={{action "setPage"}} />
          </div>
        </div>
      {{/if}}
    {{/if}}
  </div>
</div>
