{{input value=(mut newSearchString) enter=(action "updateSearch")}} <button {{action "updateSearch"}}>Search</button>

{{#if model}}
  <ul>
    {{#each model.hits as |hit|}}
      <li>
        {{{hit.title}}}
      </li>
    {{/each}}
  </ul>

  We found {{model.total}} results in {{model.page_count}} pages for your search!

  {{page-list totalPages=model.page_count currentPage=page}}
{{/if}}


{{outlet}}
